@import url(./fonts/Gilroy/stylesheet.css);

body {
    font-family: Gilroy;
    margin: 0;
}

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nav1 nav2 nav3";

    border-bottom: 1px solid #cdcdcd;
    margin: 0 36px;
    padding: 32px 0;
}

#nav-area1 {
    grid-area: nav1;
}

#nav-area2 {
    grid-area: nav2;
}

#nav-area3 {
    grid-area: nav3;
}

.nav-area {
    display: flex;
    justify-content: space-around;
    gap: 36px;
    align-content: center;
}

.nav-btn {
    font-size: 14px;
    font-weight: 700;
    color: rgb(38, 38, 38);
    text-decoration: none;
}

.nav-btn:hover,
.selected-page {
    color: rgb(104, 104, 104);
    text-decoration: underline;
}

#brand-title {
    font-size: 20px;
    font-weight: 400;
}

.title {
    padding-top: 120px;
    padding-bottom: 60px;

    display: grid;
    grid-template-columns: 1fr 1.7fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        ". h1 ."
        ". h4 ."
        ". a .";
    text-align: center;
    gap: 24px 0;
}

.title h1 {
    font-size: 3em;
    font-weight: 600;
    grid-area: h1;
}

.title h4 {
    font-size: 18px;
    font-weight: 300;
    grid-area: h4;
}

.title div {
    grid-area: a;
    padding: 20px;
}

.title div a {
    font-size: 14px;
    color: white;
    font-weight: 300;
    font-weight: 600;
    background-color: #d69e8e;

    border-radius: 32px;
    text-decoration: none;

    padding: 20px 56px;
}

.anim-gal:hover {
    box-shadow: 0px 0px 19px 9px rgba(34, 60, 80, 0.2);
}
